<h1>Question New Page</h1>
    
<p>Quiz Title: <%= @quiz.title %></p>

<form action="/quizzes/<%= @quiz.id %>/questions" method="post">

<p>Question</p><input type="text" name="description">


<%= hidden_field_tag  :quiz_id, @quiz.id %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
<input type="submit" name="Submit">

</form>