<h1>Quiz List</h1>
<hr>
<a href="/"><img src="/back.png" style="height: 30px"></a>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Quiz Title</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>
    <% @quiz.each do |quiz| %>
    <tr>
      <th scope="row"><%= count += 1%></th>
      <td><%= quiz.title %></td>
      <td><%= link_to "view more", "/quizzes/#{quiz.id}" %>
      <!-- | <%# link_to "edit", "/quizzes/#{quiz.id}/edit" %></td> -->
    </tr>
    <% end %>
  </tbody>
</table>



