<style type="text/css">
	
</style>
<h1>Create New Quiz</h1>
<hr>
<a href="/"><img src="/backicon.png" style="height: 30px"></a>

<form action="/quizzes" method="post">

<p>Title</p><input type="text" name="title">

<%= hidden_field_tag  :teacher_id, @teacher.id %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
<input type="submit" name="Submit">

</form>
