<h1>Show all question and answers for particular Quiz</h1>

<%= @question.each do |quiz| p quiz end %>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

  
</style>
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Question</th>
      <th scope="col">Answer</th>
    </tr>
  </thead>
  <tbody>

  <%# count = 0 %>
  <% @question.each do |question| %>
    <tr>
      <td><%= question.description%></td>
    </tr>
  	<% question.answers.each do |answer|%>
      <td><%= answer.description %></td>
    	
    <% end %>
    <% end %>
  </tbody>
</table>

<hr>

