<h1>Welcome to your zoo!</h1>
<audio controls autoplay>
			<source src="/rainforest.mp3" type="audio/mpeg">
		</audio>
		<audio controls autoplay>
		<source src="/elephant8.mp3" type="audio/mpeg">
</audio>


<div class="zoonav">
	<div class="zooimg">
		<img id = "zoobackground" src="/zoo.jpg">
		<img id="elephantrhino" src="/elephantrhino.gif" >
		<img id="bird" src="/birds.gif">
	</div>
	<div class="zooshop">
		<div class="sidebar-container">
		<button type="button" class="btn btn-danger" style="width: 100%; height: 10%">Shop</button>
            <div class="sidebar-header">
            </div>
            <div class="sidebar">
            	<nav>
				<ul class="nav flex-column">
				  <li class="nav-items">
				    <a class="nav-link active" href="#"><img src="/elephant.png" style="width: 80px">110</a>
				  </li>
				  <li class="nav-items">
				    <a class="nav-link active" href="#"><img src="/kitty-icon.png" style="width: 80px">300</a>
				  </li>
				  <li class="nav-items">
				    <a class="nav-link active" href="#"><img src="/tweetbird-icon.png" style="width: 80px">150</a>
				  </li>
				  <li class="nav-items">
				    <a class="nav-link active" href="#"><img src="/penguin-icon.png" style="width: 80px">450</a>
				  </li>
				  <li class="nav-items">
				  <a class="nav-link active" href="#"><img src="/sheep-icon.png" style="width: 80px">200</a>
				  </li>
				  <li class="nav-items">
				  <a class="nav-link active" href="#"><img src="/rooster-icon.png" style="width: 80px">150</a>
				  </li>
				  <li class="nav-items">
				  <a class="nav-link active" href="#"><img src="/piggy-icon.png" style="width: 80px">290</a>
				  </li>
				  <li class="nav-items"><p class="divider">Food</p></li>
				  <li class="nav-items">
				  <a class="nav-link active" href="#"><img src="/zoofood.png" style="width: 80px">30</a>
				  </li>
				  <li class="nav-items">
				  <a class="nav-link active" href="#"><img src="/zooapple.png" style="width: 80px">100</a>
				  </li>
				  <li class="nav-items">
				  <a class="nav-link active" href="#"><img src="/zooorange.png" style="width: 80px">45</a>
				  </li>
				  <li class="nav-items">
				  <a class="nav-link active" href="#"><img src="/zoowatermelon.png" style="width: 80px">45</a>
				  </li>
				</ul>
			</nav>
			</div>
		</div>
	</div>
</div>
		