<img src="tiger.jpeg">
<h1> 10 token</h1>
<button>Buy</button>

<br>
<img src="elephant.jpeg">
<h1> 15 token</h1>
<button>Buy</button>
<br>

<img src="giraffes.png">
<h1> 10 token</h1>
<button>Buy</button>

