
<link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>


<% if signed_in? %>
	<%if current_user.admin?%>
		<div class = "admin_homepage">
		 	<div class = "find_a_teacher">
				<a href ="/find_a_teacher"><img src="findteachericon.png" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;" >Find A Teacher</p></a>
			</div>

		 	<div class = "find_a_student">
				<a href ="/find_a_student"><img src="findstudenticon.jpg" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;" >Find A Student</p></a>
			</div>

		 	<div class = "add_teacher">
		 		<a href ="/add_teacher"><img src="addstudent.png" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Add A Teacher</p></a>
		 	</div>

		 	<div class = "add_student">
		 		<a href ="/add_student"><img src="addstudent.png" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Add A Student</p></a>
		 	</div>

		 	<div class = "report">
		 		<a href ="#"><img src="report.jpeg" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Generate Report</p></a>
		 	</div>
		 </div>

	 <%elsif current_user.teacher?%>
	 	
	 	<div class = "teacher_homepage">
		 	<div class = "show_quizzes">
			 		<a href ="/quizzes"><img src="quiz.png" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Show Quizzes</p></a>
			</div>

			<div class = "create_quiz">
			 		<a href ="/quizzes/new"><img src="createquiz.png" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Create Quiz</p></a>
			</div>


			<div class = "find_a_student">
			 		<a href ="/find_a_student"><img src="findstudenticon.jpg" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Find a Student</p></a>
			</div>
		</div>
	 <%elsif current_user.student?%>
	 	<%=link_to 'Join Quiz', "#"%>
	 	
	 	<br>
	 	<%=link_to 'Zoo', "#"%>
	 <%end%>
<%else%>
		<!-- http://www.pptbackgrounds.org/uploads/kindergarten-powerpoint-templates.jpg -->
		
		<div class="hero-text">
				<h1><img src="hometext.png"></h1>
		</div>
		
	
<%end%>










