<h1> Welcome to BrainJoules</h1>

 <%if current_user.student?%>

 


 <%elsif current_user.teacher?%>



 <%else%>
 	<div class = "search">
	<!-- <img src= "search.jpeg"> -->
	<%=link_to 'Search', "/search"%>

 	</div>

 	<div class = "add_teacher">
 	<!-- <img src="add_teacher.png" alt="Add Teacher" height="42" width="42"> -->
 	<%=link_to 'Add Teacher', "/add_teacher"%>
 	</div>

 	<div class = "add_student">
 	<!-- <img src="add_student.png" alt="Add Student" height="42" width="42"> -->
 	<%=link_to 'Add_student', "#"%>
 	</div>

 	<div class = "Report">
 	<!-- <img src="report.jpeg" alt="Report" height="42" width="42"> -->
 	<%=link_to 'Report', "#"%>
 	</div>

 <%end%>




