/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*http://idolza.com/a/f/c/color-backgrounds-wallpaper-cave-multiple-dazzle-colour-widescreen-and-hd_colors-that-match-brown_master-room-design-creative-color-wheel-ideas-interior-kitchen-3d-software-cool.jpg*/
 body {
 	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWHQoUTiqmqMdOUISbJDVMyKOj8l4VjYhRB0SjlgpIvhZVk5qkgw");
 	background-size: 1500px;
 	/*opacity: 0.4;*/
 	/*background-image: url("/floor.jpg");*/
 }

 #homeback {
 	position: relative;
 	/*border: 2px solid red;*/
 	background-color: grey;
 }

#homebackimg {
	width: 100%;
	height: 400px;
	opacity: 0.6;
	/*position: absolute;*/
}

.admin_homepage{
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
}

#h11{
	text-align: center;
	font-size: 500%;
	font-family: 'Kalam'; 

}

#home_photo{
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding-left: 60px;
	display: block;
}



#text{
	font-family: 'Merienda';
	font-size:300%; 
	text-align: center;
	padding-top: 50px;
	font-style: bold;
}



/* Homepage */
.hero-text {
		font-family: "Kalam";
		text-align: center;
		position: absolute;
		width: 1200px;
		top: 20%;
		left: 50%;
		transform: translate(-50%, 0%);
		color: white;
		text-shadow: 2px 2px 8px #000000;
		font-size: 50px;
		
}

#herobg {
	background-color: black;
	opacity: 0.5;
	border-radius: 10px;
	/*border: 2px solid black;*/
	position: relative;
	height: 100px;
	margin-top: -300px;
}

.admin_homepage {
	display:flex;
	justify-content: space-around;
	margin-top: 10%;
}

.admin_homepage div {
	text-align: center;
}

.admin_homepage div img {
	margin-bottom: 10px;
}

.admin_homepage div p {
	background-color: black;
	border-radius: 5px;
	padding: 5px;
}

#createteacher {
	margin-top: 30px;
}

.teacher_homepage {
	display:flex;
	justify-content: space-around;
	margin-top: 10%;
}

.icon_words{
	background-color: black;
	/*border-radius: 5px;*/
	/*padding-top: 6px;*/
	/*padding-bottom: 6px;*/
	/*padding-left: 50px;*/
	/*padding-right: 50px;*/
	border:none;
	color:white;
}
.teacher_homepage div {
	text-align: center;
}

.teacher_homepage div img {
	margin-bottom: 10px;
}

.teacher_homepage div p {
	background-color: black;
	border-radius: 5px;
	padding: 5px;
}

.student_homepage form {
		width: 100%;
}


.student_homepage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.joinlabel {
	font-size: 30px;
	font-family: "Merienda";
	margin-left: 30px;
}


p {
		font-family: "Kalam";
		font-size: 18px;
}

h1 {
	font-family: "Bungee";
}

.nav-item {
	font-family: 'Kalam';
}

#btnlg {
	display: flex;
	/*justify-content: space-around;*/
}
.btn-lg {
	padding: 70px 30px;
	font-family: "bungee";
	font-size: 60px;
	border: 3px solid black;
	width: 28%;
	margin-left: 150px;
	margin-top: 20px;
	box-shadow: 5px 10px #4b4b4b;
	background-color: black;
}

/*zoo*/
.zoonav {
	position: relative;
}


/*for testing*/
.zoonav div {
	/*border: 3px solid red;*/
}

.zooshop {
	height: 100%;
	position: absolute;
	top: 0px;
	right:0px;
	padding-top: 70px;
	float: right;
}

.sidebar-container {
	background-color: #d0d0d0;
	height: 100%;
	position: absolute;
    margin: -71px;
    padding: 3px;
    left: -140px;
}

.sidebar-container button {
	padding-left: 50px;
	padding-right: 50px;
}
.sidebar-header {
	position: absolute;
	background-color: #d0d0d0;
}

.sidebar {
    height: 90%;
	position: absolute;
	overflow-y: scroll;
	width: 144px;
	left: 0px;
	background-color: #d0d0d0;
}

.nav-items {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	text-align: center;
}

#zoobackground {
	width: 900px;
}

#elephantrhino {
	position: absolute;
	top:70px;
	left:2px;
	width: 900px;
	height: 550px;
}


#bird {
	position: absolute;
	top:10px;
	left:150px;
	animation: bird 5s infinite;
	animation-direction: alternate;
}

audio {
	display: none;
}


#room-id{
	font-family: "Kalam";
	font-size: 165px;
	color: yellow;
	width: 50%;
	background-color: black;
	opacity: 0.9;
	position: absolute;
	text-align: center;
	border-right: 5px dotted white;
}

#user_count{
	font-size: 165px;
	font-family: 'Montserrat', sans-serif;
	color: red;
	width: 50%;
	float: right;
	text-align: center;
	background-color: black;
	opacity: 0.9;
}

#top{
	height: 300px;
}

#remove {
	position: relative;
	margin: 15px;
}

#whole-pg{
	position: relative;
}


#room-id{
	font-family: 'Montserrat', sans-serif;
}

#quiz-select{
	font-family: 'Bungee';
	margin-top:0px;
}

#display_quiz{
	font-family: 'Montserrat', sans-serif;
}

#student-count {
	float: right;
	font-weight: bold;
	margin: 15px;
	margin-right: 30px;
}

#studentcount1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

#studentcount2 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

#q_a{
	font-family: 'Montserrat', sans-serif;
	border: 1px solid blue;
	position: relative;
	background-color: black;
	color: white;
	opacity: 0.8;
}

#q_a #questionss,#question,#option1,#option11,#option2,#option22,#option3,#option33,#option4,#option44 {
	font-weight: bold;
	font-size: 23px;
	margin: 15px;


}

#q_a #quiztitle,#title, #questionnumber,#q_number {
	font-size: 20px;
	margin: 15px;

}


/*quiz next button*/
#controlss {
	/*border: 3px solid red;*/
	width: 10%;
	position: absolute;
	bottom: 0px;
	right:   80px;
	padding: 20px;
	/*font-weight: bold;*/
}
#done-btn {
	/*border: 2px solid green;*/
	font-family: 'Montserrat', sans-serif;
	color:white;
	padding: 10px 20px 10px 20px;
	margin: 15px;
	font-weight: bold;
}

#next {
	/*border: 2px solid green;*/
	font-family: 'Montserrat', sans-serif;
	color:white;
	padding: 10px 23px 10px 23px;
	margin: 15px;
	font-weight: bold;
}

#finishedanswers {
	font-family: 'Montserrat', sans-serif;
	
	/*border: 2px solid black;*/
	width: 50%;
	height: 300px;
	position: relative;
	margin-top: 40px;
	margin-left: 30%;
	margin-right: 30%;
	font-weight: bold;
}


#studentcorrectanswers {
	font-size: 40px;
	position: absolute;
	/*border: 2px solid black;*/
	font-weight: bold;
}

#correct {
	font-size: 80px;
	/*border: 2px solid blue;*/
	position: absolute;
	right: 25%;
	/*margin-top: 100px;*/
	/*background-color: blue;*/
	/*padding: 40px;*/
	font-weight: bold;
	padding-top: 0px;
	margin-top: 0px;
}

#studenttotalanswers {
	font-size: 40px;
	position: absolute;
	/*border: 2px solid black;*/
	bottom: 0px;
	font-weight: bold;
}

#answered {
	font-size: 80px;
	/*border: 2px solid blue;*/
	position: absolute;
	bottom: 0px;
	right: 25%;
	/*margin-top: 150px;*/
	/*background-color: blue;*/
	/*padding: 40px;*/
	font-weight: bold;
	/*margin-top: 50px;*/
}

