/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.admin_homepage{
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
}

#h11{
	text-align: center;
	font-size: 500%;
	font-family: 'Kalam'; 

}

#home_photo{
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding-left: 60px;
	display: block;
}



#text{
	font-family: 'Merienda';
	font-size:300%; 
	text-align: center;
	padding-top: 50px;
	font-style: bold;
}



/* Homepage */
.hero-text {
		font-family: "Kalam";
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0%);
		color: #99e6ff;
		text-shadow: 2px 2px 8px #000000;
	}

.admin_homepage {
	display:flex;
	justify-content: space-around;
	margin-top: 10%;
}

.admin_homepage div {
	text-align: center;
}

.admin_homepage div img {
	margin-bottom: 10px;
}

.admin_homepage div p {
	background-color: black;
	border-radius: 5px;
	padding: 5px;
}

.teacher_homepage {
	display:flex;
	justify-content: space-around;
	margin-top: 10%;
}

.teacher_homepage div {
	text-align: center;
}

.teacher_homepage div img {
	margin-bottom: 10px;
}

.teacher_homepage div p {
	background-color: black;
	border-radius: 5px;
	padding: 5px;
}

p {
		font-family: "Kalam";
		font-size: 18px;
	}

h1 {
	font-family: "Bungee";
}
.nav-item {
	font-family: 'Kalam';
}

#room-id{
	font-family: "Kalam";
	font-size: 200px;
	color: yellow;
}

#user_count{
	font-size: 100px;
	font-family: 'Kalam';
	color: red;
}

#top{
	display: inline-block;
	position: relative;
	padding-bottom: 0px;
	height: 10px;
	width:90%;
	align-items: flex-start;


}

#whole-pg{
	padding-top: 0;
}


#user_count{
	top:70px;
	right:0;
	position: absolute;
}

#room-id{
	/*top:0;
	font-family: 'Montserrat', sans-serif;*/
	
}

#quiz-select{
	font-family: 'Bungee';
	margin-top:80px;
}

#display_quiz{
	/*font-family: 'Montserrat', sans-serif;
	border-radius: 20%;
	background-color: white;
	border: 2px solid black;*/
	
}

/*input box for form beside display button*/
#query{
	/*border-radius: 20%;
	background-color: white;
	border: 2px solid balck;
	height: 40px;*/
}

#student-count{
	 width: 50%;
     height: 100px;
     display: flex;
     position: relative;
     margin-left: 70%;

}

.box{
	position: absolute;
	font-family: 'Bungee';
	color:grey;
}

#box1{
	top:0;
	left:0;
}

#box2{
	top:0;
	right:0;
}

#student-answered{
	left:0;
	bottom:0;
}

#student-answer-correct{
	bottom:0;
	right:0;
}



