/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.admin_homepage{
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
}

#h11{
	text-align: center;
	font-size: 500%;
	font-family: 'Kalam'; 

}

#home_photo{
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding-left: 60px;
	display: block;
}



#text{
	font-family: 'Merienda';
	font-size:300%; 
	text-align: center;
	padding-top: 50px;
	font-style: bold;
}


